@model Account.Entity.Accounts

@{
    ViewBag.Title = "Login";
}

<h2 align ="center">Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{

<table border="1" align="center">
    <tr>
        <td>
            EmailId
        </td>

        <td>@Html.TextAreaFor(Model => Model.EmailId)</td>
        </tr>
    <tr>
        <td>
            Password
        </td>
        <td>@Html.TextAreaFor(Model => Model.Password)</td>

    </tr>
    <tr>
    <td>
        <input type="submit" />
    </td>
        <td>
            <input type="button" onclick="" value="SignUp" />
        </td>
        </tr>
    </table>
}